{% extends 'base.html' %}

{% block content %}
<h2>Listado de Turnos</h2>

<ul class="list-group col-8">
    {% for turno in turnos %}
        <li class="list-group-item">

            {{ turno.fecha_hora }} - {{ turno.cliente }} - {{ turno.servicio }}

            <div class="mt-2">
                <a class="btn btn-warning btn-sm" href="{% url 'crear_resena' turno.id %}">Agregar Reseña</a>
                <a class="btn btn-outline-dark btn-sm ms-2" href="{% url 'detalle_turno' turno.id %}">Ver Detalle</a>

                <!-- botón eliminar -->
                <a class="btn btn-outline-danger btn-sm ms-2" href="{% url 'eliminar_turno' turno.id %}"
                    onclick="return confirm('¿Seguro deseas ELIMINAR este turno?')">
                    Eliminar
                </a>

                <span class="badge bg-secondary ms-2">{{ turno.reseñas.count }} reseñas</span>
            </div>

        </li>
    {% empty %}
        <li class="list-group-item">No hay turnos cargados</li>
    {% endfor %}
</ul>
<a href="/" class="btn btn-outline-dark mt-3">Volver</a>
{% endblock %}
