{% extends 'base.html' %}

{% block content %}
<h2>Reseñas de Clientes</h2>

<ul class="list-group col-8">
    {% for r in resenas %}
        <li class="list-group-item">
            <strong>{{ r.autor }}</strong> dijo:
            <br>
            {{ r.texto }}
            <br>
            <small>{{ r.fecha|date:"d/m/Y H:i" }}</small>

            <div class="mt-2">

                <a class="btn btn-outline-danger btn-sm"
                   href="{% url 'eliminar_resena' r.id %}"
                   onclick="return confirm('¿Seguro deseas eliminar esta reseña?')">
                    Eliminar
                </a>

            </div>
        </li>
    {% empty %}
        <li class="list-group-item">No hay reseñas cargadas</li>
    {% endfor %}
</ul>

<a href="/" class="btn btn-outline-dark mt-3">Volver</a>

{% endblock %}
